@import "tailwindcss";

:root {
  --brand-dark: #540e21;
  --brand-base: #821535;
  --brand-border: #9e1c43;
  --brand-accent: #c83259;
  --brand-light: #f4718f;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #f5f5f4;
  overflow-x: hidden;
}